body {
  margin: 0;
  padding: 0;
}
canvas {
  border: none;
}
svg {
  display: block;
}
#earcut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#unionized {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
